@charset "utf-8";
/*CSS Document */
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,option,textarea{
	margin:0;
	padding:0;
}
*{
	padding:0;
	margin:0;
}
html,body{
	width: 100%;
    height: 100%;
    background-color: #f2edf3;
}
body{
	font-family:"微软雅黑";
}
img{
	display: block;
	border:none;
}
input{
	outline:none;		
	border:none;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
/* --------------------------nav----------------- */
nav{
    width:100%;
    height: 70px;
    /* background-color: #fff; */
    background-image: url(../images/logo.svg); 
    background-size: 140px 28px;
    background-position:57px 22px; 
    background-repeat: no-repeat;
    position: relative;
    z-index: 6;
    background-color: #fff;
}
nav .search{
    width: 20%;
    height: 70px;
    margin-left:26%;
    line-height:70px;
}
nav .space{
    width: 0.1%;
    height: 70%;
    display: inline-block;
}
nav .search input{
    width: 200px;
    height: 45px;
    border: none;
    position:absolute;
    top:12px;
    left:29%;
    display: inline-block;
}
nav .navs{
    width:54%;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;
}
nav .navs .icon{
    margin-left:18%;
}
nav .navs .face1{
    width: 34px;
    height: 34px;
    border-radius:50%;
    display: inline-block;
    position: absolute;
    top:17px;
}
nav .navs .face1name{
    line-height:70px;
    margin-left:54px;
    font-size:15px;
}
nav .navs .icon .icon-fullscreen,nav .navs .icon .icon-power,nav .navs .icon .icon-formatlinespacing{
    display:inline-block;
}
nav .navs .menu1{
    display: none;
    position: absolute;
    top: 22px;
}
nav .navs i{
    margin: 0 14px;
    width: 32px;
    height: 32px;
}
/* --------------------------aside----------------- */
.asideconbox{
    width: 100%;
}
aside{
    width: 270px;
    height: 2280px;
    background-color: #fff;
    float:left;
}
aside .per{
    width: 188px;
    height: 84px;
    position: relative;
    margin:0 auto;
}
aside .per div{
    display: inline-block;
}
aside .per .word{
    position: absolute;
    top:22px;
    left:62px;
}
aside .per .word h6{
    font-weight: 100;
}
aside .per img{
    width: 44px;
    height: 44px;
    border-radius: 50%;   
    position: absolute;
    top:16px;
    left:3px; 
}
aside .per .ic-per{
    position: absolute;
    top:30px;
    left:166px;
}
aside .slidebox{
    position: absolute;
    top:300px;
    left:100px;
}
.js{width:90%; margin:10px auto 0 auto; }
		.js p{ padding:5px 0; font-weight:bold; overflow:hidden;  }
		.js p span{ float:right; }
		.js p span a{ color:#f00; text-decoration:underline;   }
		.js textarea{ height:50px;  width:98%; padding:5px; border:1px solid #ccc; border-top:2px solid #aaa;  border-left:2px solid #aaa;  }


		/* 本例子css */
		.sideMenu{ width: 188px;}
        /* .sideMenu span{
            width: 188px;
            height: 56px;
            display:inline-block;
            margin-top:10px;
        } */
        .sideMenu h3{ width: 170px;
             padding:10px 30px;
             cursor:pointer;
             float: left;
			font:normal 14px/32px "Microsoft YaHei";
        }
        .sideMenu .sidebox:hover{
            background-color: #f0d6f5;
        }
		.sideMenu h3 em{ float:right; display:block; width:40px; height:32px;   background:url(images/icoAdd.png) 16px 12px no-repeat; cursor:pointer; }
		.sideMenu h3.on em{ background-position:16px -57px; }
        .sideMenu ul{ font-size:13px;padding:10px 25px; color:#999; display:none; /* 默认都隐藏 */ }
        .sideMenu i{
            margin-left:-33px;
            line-height:53px;
        }
        aside .sidebox{
            width: 250px;
            /* height: 53px; */
            margin-left:-29px;
        }
aside .proj,aside .cate{
    width: 190px;
    height: 60px;
    line-height: 60px;
    color:#3e4b5b;
    border-bottom:1px solid #ebedf2;
    line-height:60px;
    margin-left: 32px;
}
aside .cate{
    margin-top: 10px;
    margin-left: 32px;
}
aside .add{
    width: 190px;
    height: 47px;
    border-radius: 2px;
    background:linear-gradient(to right,#d98bff 15%,#cd81ff 30%,#bc72ff 45%,#b36bff 60%,#a35dff 75%,#9a55ff 100%);
    margin:24px 30px 0;
    line-height:47px;
    text-align: center;
    color:#fff;
}
aside .spaceBox{
    width: 100px;
    height: 100px;
    background-color: pink;
}

aside i{
    color:#ceb3d4e8;
}
.per i{
    color:#07cdae;
}
.da{
    color:#8142e0;
}
.da i{
    color:#8142e0;
}
/* --------------------------con-------------------- */
.con{
    width: 100%;
    /* height: 2216px; */
    background-color: #f2edf3;    
}
aside .sideMenu{
    margin-bottom: 100%;
}
aside .fp p{
    padding: 14px 30px 0px;
}
aside .fp .word{
    margin-left:32px;
    font-size: 13px;
}
aside .fp .circ{
    width: 18px;
    height: 18px;
    background-color: #fe7896;
    border-radius: 50%;
    position: relative;
}
aside .fp .circ1{
    background:linear-gradient(to right,#ffb796 0%,#fe9796 50%,#fe7296 100%);
}
aside .fp .circ2{
    /* margin-bottom: 100%; */
    background:linear-gradient(to right,#92cbf9 0%,#7cbdf1 50%,#0780df 100%);
}
aside .fp .circ,aside .fp .circ .cen{
    display:inline-block;
}
aside .fp .circ .cen{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 3px;
    top:3px;
}






/* --------------------con_right ------------------*/
.con .con_right{
    width: 1016px;
    height: 1000px;
    background-color: pink;
    float: left;
}
.con .like{
    /* width: 100%; */
    height: 72px;
    background-color: #dbd6d9;
}
.con .like p{
    display: inline-block;
    margin-left:9px;
    margin-top:1.5%;
    float: left;
}
.con .like span{
    float:right;
    line-height: 72px;
}
.con .like span img{
    margin-left:-20px;
}
.con .like a{
    display: inline-block;
    /* width: 40%; */
    height: 42px;
    line-height: 42px;
    display:inline-block;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 22px;
}
.con .like .down{
    width: 235px;
    background-color: #f0eff0;
    text-align:center;
}
.con .like .up{
    width: 183px;
    margin-left:18px;
    background:linear-gradient(to right,#d98bff 15%,#cd81ff 30%,#bc72ff 45%,#b36bff 60%,#a35dff 75%,#9a55ff 100%);
    text-align:center;
}
.con .like .close{
    display: inline-block;
}

/*-------------- --------wrapper -----------------*/
.wrapper {
    width: 72%;
    height: 900px;
    margin-left: 4%;
    padding: 35px 0%;
    float: left;
}
.con_tit{
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: relative;
}
.tit_left{
    float: left;
    display: flex;
}
.tit_left .home{
    width: 36px;
    height: 36px;
    border-radius: 2px;
    display:inline-block;
    background:linear-gradient(to right,#d98bff 15%,#cd81ff 30%,#bc72ff 45%,#b36bff 60%,#a35dff 75%,#9a55ff 100%);
    position: relative;
    margin-top:6px;
}
.con_tit .tit_left h3{
    /* margin-top:2px; */
}
.tit_left i{
    position: absolute;
    top:-6px;
    left:8px;
}
.tit_left span{
    display:inline-block;
    font-weight: 800;
    margin-left: 12px;
}
.tit_right{
       float: right;
       font-size: 13px;
}
/* ------------week----------- */
.week{
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-between;
}
.week img{
    width: 183px;
    height: 220px;
    position: absolute;
    bottom: 0;
    right: -2px;
}
.week div{
    width:23%;
    height: 100%;
    color:#fff;
    border-radius:5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.week .wk1{
    background:linear-gradient(to right,#ffbe96 0%,#ffb396 15%,#ffa796 30%,#ff9b96 45%,#fe8f96 60%,#fe8496 75%,#fe8dab 100%);
   
}
.week .wk2{
    background:linear-gradient(to right,#8ec9f9 0%,#81c2f6 15%,#6eb8f3 30%,#4fa7ed 45%,#3e9eea 60%,#2b93e6 75%,#3698e5 100%);
}
.week .wk3{
    background:linear-gradient(to right,#82d9d1 0%,#74d7cd 15%,#5cd5c6 30%,#4ad3c1 45%,#3cd2bd 60%,#30d1ba 75%,#3ad7be 100%);
   
}
.week div{
    padding:0 38px;
}

.iconbox{
    display: flex;
    justify-content: space-between;
}
.iconbut{
    width: 60%;
    height: 400px;
    margin-right:5%;
    display: flex;
}
.iconleft{
    width: 100%;
    height: 400px;
}
#container{
    z-index:2;
}
.block{
    width: 36%;
    height: 400px;
}
/* recent */
.recent{
    width: 92%;
    background-color: #fff;
    margin-top:35px;
    border-radius: 3px;
}
.recent{
    padding:4%;
}
.recent .fac,.recent .dav{
    display: inline-block;
}
.recent img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-block;
}
/* table{
    border: 1;
} */
.recent tr{
    height: 66px;
}
.recent td{
    font-size: 14px;
    border-top: 1px solid #ebedf2;
}
.recent td .done{
    padding:6px 10px;
    border-radius: 3px;
    color:#fff;
    background-color: #4bd3c1;
}
.recent .tr1 td{
    border:none;
}
.recent tr td:nth-child(1){
    width:26%;
}
.recent tr td:nth-child(1) img{
    vertical-align: middle;
}
.recent tr td:nth-child(1) span{
    vertical-align: middle;
    margin-left: 8px;
}
.recent tr td:nth-child(2){
    width:28%;
}
.recent tr td:nth-child(3){
    width:16%;
}
.recent tr td:nth-child(4){
    width:21%;
}
.recent .jack{
    margin-left:8px;
}
.recicon{
    margin-top:15px;
}
.recent .imgBox{
    margin-top: 15px;
}
.recent .imgBox img{
    width: 47%;
    height: 20%;
    border-radius: 3px;
}
.recent .imgBox .img13{
    margin-right:6px;
}
.recent .imgBox .img12{
    margin-bottom:6px;
}
.schoolBox{
    margin-top: 45px;
}
.face3{
    display: inline;
}
.recent .school{
    display: inline-block;
    vertical-align: middle;
    margin-top: -26px;
}
.recent .school2{
    font-weight: 100;
    margin-top: 6px;
}
.recent .progr{
    display: inline-block;
    /* width: 100%; */
    width: 200px;
    height: 8px; 
    background-color: #e9ecef;
    border-radius: 3px;
    position: relative;
}
.recent .pp{
    width: 0px;
    height: 8px;
    position: absolute;
    top:0;
    left:0;
    z-index: 5;
    border-radius: 3px;
}
.recent .p1{
    width: 49px;
    background: linear-gradient(to right,#82d9d1 0%,#74d7cd 15%,#5cd5c6 30%,#4ad3c1 45%,#3cd2bd 60%,#30d1ba 75%,#3ad7be 100%);
}
.recent .p2{
    width: 148px;
    background: linear-gradient(to right, #ffbf96, #fe7096);
}
.recent .p3{
    width: 178px;
    background-color: yellow;
}
.recent .p4{
    width: 99px;
    background-color: rgb(255, 208, 0);
}
.recent .p5{
    width: 68px;
    background-color: rgb(247, 0, 255);
}
.recent .p6{
    width: 38px;
    background-color: rgb(0, 255, 106);
}
.recent td .done {
    color: #000;
    background-color: #fff;
}
.Project table{
    width: 100%;
}
.Project tr td:nth-child(1){
    width:13%;
}
.Project tr td:nth-child(2){
    width:31%;
}
.Project tr td:nth-child(3){
    width:22%;
}
.Project tr td:nth-child(4){
    width:21%;
}
.Project{
    margin-bottom: 50px;
}
/* -----------------foot------------------*/
.foot{
    width: 100%;
    height: 78px;
    color:#ccc;
    background-color: #f2edf3;
    border-top:1px solid #ccc;
    line-height: 78px;
    font-size: 14px;
    text-indent: 15px;
}































/*------------------------------ 媒体查询--------------------- */

@media screen and (max-width:1250px){
    .con .like p{
        width:22%;
        margin-top:0.5%;
    }
    .wrapper {
        margin-left: 3%;
}
@media screen and (max-width:1215px){
    .week div{
        width:21%;
    }
}
@media screen and (max-width:1200px){
    nav .navs .icon {
        margin-left: 2%;
    }
}
@media screen and (max-width:1192px){
    
    aside{
        display:none;
    }
    .wrapper {
        width: 92%;
        margin-left: 0%;
        padding:0 4%;
    }
}
@media screen and (max-width:1177px){
    .wrapper {
        margin-left: 0%;
}
@media screen and (max-width:1060px){
    .wrapper {
        margin-left: 0%;
    }
}
@media screen and (max-width:930px){
    .con .like {
        height: 90px;
    }
}
@media screen and (max-width:1000px){
    nav{
        background-image: url(../images/logo-mini.svg); 
        background-position: -32px;
    }
    nav .navs {
        width: 45%;
    }
    nav .space{
        width: 55%;        
        position: absolute;
        top: 0;
    }
    nav .navs .icon .icon-fullscreen,nav .navs .icon .icon-power,nav .navs .icon .icon-formatlinespacing{
        display:none;
    }
    nav .navs .menu1{
        display: inline-block;
    }
}
@media screen and (max-width:850px){
    .con .like{
        height:90px;
    }
}
@media screen and (max-width:825px){
    nav .search{
        display: none;
    }
    nav .navs {
        width: 55%;
    }
    nav .space{
        width: 45%; 
    }
    .week {
        width:auto;
        height: auto;
       flex-direction: column;
    }
    .week div{
        width: 100%;
        height: 219px;
        margin-top:30px;
    }
}
@media screen and (max-width:680px){
    .con .like p{
        display:none;
    }
    .con .like span{
        float: left;
        margin-left:10%;
    }
}
@media screen and (max-width:670px){
    nav .navs {
        width: 65%;
    }
    nav .space{
        width: 35%; 
    }
}
@media screen and (max-width:570px){
    nav .navs {
        width: 85%;
    }
    nav .space{
        width: 0%; 
    }
}
@media screen and (max-width:520px){
    .con .like{
        height: 145px;
    }
    .con .like .up{
        margin-left:22px;
    }
}

/* $(window).resize(function(){ 
    if(document.body.clientHeight<700){ 
    alert(“禁止缩放”); 
    window.resizeTo(document.body.clientHeight,300); 
    } 
    });  */
    